include LICENSE

recursive-include wagov_utils/static/images *.png
recursive-include wagov_utils/static/images *.jpg
recursive-include wagov_utils/static/images *.gif
recursive-include wagov_utils/static/ *.css
recursive-include wagov_utils/static/ *.js
recursive-include wagov_utils/templates *.html *.txt
recursive-include wagov_utils/templates/wagov_utils *.html *.txt
